#wrapper1{
    margin-bottom: 5vh;
}
.show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
/* div{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

} */
.team{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 540px) {
    .team{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    

}
.counting{
    display: flex;
    align-items: center;
    justify-content: center;
}